/* Write CSS Here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(4, 27, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(245, 239, 231);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.left {
    position: initial;
    background-color: rgb(126, 219, 231);
    padding: 20px;
}

.name {
    display: inline-block;
    font-size: 14;
    width: 80%;
}


.act,
.references,
.work,
.contactinfo,
.Education,
.Skills,
.lang {
    font-size: 8.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.workexpo,
.contact,
.Skill,
.edu,
.Language {
    font-size: 9px;
    display: inline-block;
}

.work {
    font-size: 8.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.location {
    text-align: right;
    margin-top: -20px;
    font-weight: bold;
}

.date {
    text-align: right;
    font-weight: bold;
}


.Mozy {
    margin-top: 10px;
}

.name,
.image {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

}

.image img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .h2 {
    background-color: rgb(4, 96, 150);
} */

.right {
    position: initial;
    background-color: rgb(162, 202, 206);
    padding: 20px;

}